.assignments-cont {
    height: 75vh;
    width: 80vw;

}
.assignments-content {
    height: 65vh;
}
.assignment {
    margin: 3vh 0;
}
.assignment-dates {
    margin-top: 2vh!important;
}
.date {
    margin: 1vh 0 !important;
}
.assignment-divider {
    margin: 2vh 0 4vh 0 !important;
}
.assignment-cont {
    margin: 4vh 0 !important;
}

@media only screen and (min-width: 786px) {
    .assignment-cont {
        width: 100%;
    }
    .assignments-cont {
        width: 60%;
    }
    .assignments-content {
        margin-top: 5vh;
        width: 90%;
    }
    .assignment-header {
        width: 90%;
    }
    .assignment-header h3 {
        text-align: center;
    }
    .assignment-divider {
        width: 90%;
    }
}


