.assignments-cont {
    height: 85vh;
    width: 80vh;
}
.assignments-content {
    height: 65vh;
}
.assignment {
    margin: 3vh 0;
}
.assignment-dates {
    margin-top: 2vh!important;
}
.date {
    margin: 1vh 0 !important;
}
.assignment-header h3:after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 1px solid #a8a8a8;
}


