.create-report-cont {
    width: 80%;
    height: 85vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}
.time {
    margin: 3vh 0 6vh 0;
    display: flex;
    justify-content: space-between;
}
.time div {
    width: 96%;
}
.time1-cont button {
    margin-left: 40px;
    padding-right: 0 !important;
}
.time2-cont button {
    margin-left: 20px;
}

.team-header {
    margin-top: 5vh;
}
#search {
    margin-left: 5px;
    margin-top: 12px;
    width: 80%;
    border: none;
    font-size: 20px;
    text-align: center;
}
#search:focus {
    outline: 0;
}
.two-actions-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10vh !important;
}
.team-member-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70% !important;
}
.fireman-search-cont {
    display: flex;
    justify-content: space-between;
}
.clear {
    width: 30% !important;
}
.teams-cont > div,
.search-input-cont > div {
    width: 95%;
}
.teams-cont,
.search-input-cont{
    margin: 4vh 0;
    display: flex;
    justify-content: center;
}
.results {
    width: 100%;
    margin-right: 20px;
}
.single-action-cont {
    margin-top: 2vh;
    text-align: right;
}

@media only screen and (min-width: 786px){
    .report-group {
        display: flex;
        justify-content: space-between;
    }
    .time div {
        width: 85%;
    }
    .time {
        width: 90%;
    }
    .create-report-cont {
        padding-left: 10px;
        width: 65%;
    }
    .report-dropdown {
        margin-top: 10px !important;
    }
    .radio {
        display: flex;
        justify-content: flex-start;
    }
    .radio div {
        width: 43%;
    }
    .input-cont {
        width: 100%;
    }
    .report-header-cont h3 {
        text-align: left;
    }
    .page-nav {
        margin-top: 5vh;
    }
}

