.create-report-cont {
    width: 80%;
    height: 85vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}
.time {
    margin: 3vh 0 6vh 0;
    display: flex;
    justify-content: space-between;
}
.time div {
    width: 96%;
}
.time1-cont button {
    margin-left: 40px;
    padding-right: 0 !important;
}
.time2-cont button {
    margin-left: 20px;
}

.team-header {
    margin-top: 5vh;
}
#search {
    margin-left: 5px;
    margin-top: 12px;
    width: 80%;
    border: none;
    font-size: 20px;
    text-align: center;
}
#search:focus {
    outline: 0;
}
.multi-action-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.team-member-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70% !important;
}
.fireman-search-cont {
    display: flex;
    justify-content: space-between;
}
.clear {
    width: 30% !important;
}
.teams-cont > div,
.search-input-cont > div {
    width: 95%;
}
.teams-cont,
.search-input-cont{
    margin: 4vh 0;
    display: flex;
    justify-content: center;
}

