#ff_title{
    width: 100% !important;
    font-weight: normal;
    font-size: 20px;
}

#ff_content{
    width: 100% !important;
    text-align: center;
}

#ff_body{
    width: 100% !important;
    display: block !important;
    text-align: left;
}

