body {
    margin: 0;
}
a {
    text-decoration: none;
}

/**************************************************
Loading Toggle
***************************************************/
.main-content-cont {
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    opacity: 1;
}
.loading-active {
    filter: blur(3px);
}

.spinner {
    position: absolute;
    top: 50%;
    left: 46%;
    opacity: 0;
    height: 0 !important;
    width: 0 !important;
    transition: all 0.3s ease-in-out;
}

.spinner-active {
    opacity: 1;
    width: 50px !important;
    height: 50px !important;
}