body {
    margin: 0;
}
a {
    text-decoration: none;
}

/**************************************************
Loading Toggle
***************************************************/
.main-content-cont {
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    opacity: 1;
}

.loading-active {
    opacity: 0;
}
.spinner {
    position: absolute;
    top: 50%;
    left: 46%;
    width: 50px !important;
    height: 50px !important;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.spinner-active {
    opacity: 1;
}