body {
    margin: 0;
}
a {
    text-decoration: none;
}

/**************************************************
Main
***************************************************/
.content {
    width: 100%;
    display: flex;
    flex-shrink: 1;
}

.main-content-cont {
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    opacity: 1;
    padding-top: 50px;
    overflow: visible;
    width: 100%;
}

.loading-active {
    filter: blur(3px);
}

.spinner {
    position: absolute;
    top: 50%;
    left: 46%;
    opacity: 0;
    height: 0 !important;
    width: 0 !important;
    transition: all 0.3s ease-in-out;
}

.spinner-active {
    opacity: 1;
    width: 50px !important;
    height: 50px !important;
}
.success-message {
    background-color: #4caa44;
    width: 60vw;
    position: absolute;
    bottom: -70px;
    left: 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    color: white;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    box-shadow: 11px 11px 31px -7px rgba(111, 111, 111, 0.75);
}
.popup-active {
    bottom: 10px;
    left: 10px;
    opacity: 1;
}
.success-p {
    color: white !important;
}

@media only screen and (min-width: 780px){
    .main-content-cont {
        margin-left: 240px;
        flex-shrink: 0;
        padding-top: 100px;
    }
    .success-message {
        padding: 1%;
        z-index: 100000;
        width: 20vw;
        left: 25%;
    }
    .success-p {
        font-size: 20px;
    }
}