.landing-cont {
    height: 80vh;
    width: 70%;
}
.landing-info-cont {
    margin-bottom: 10vh;
}
.landing-button {
    width: 80%;
    color: white !important;
}
.action-info-cont {
    text-align: center;
}
.landing-card-content-cont {
    display: flex;
    justify-content: center;
    width: 100%;
}
.landing-card-cont {
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.landing-cont {
    width: 90%;
    height: 76vh;
}
.landing-divider {
    margin: 2vh 0 !important;
}
.ind-card-cont {
    margin: 4vh 0;
    width: 31%;
}
.ind-card-cont >div {
    height: 40vh;
}
.landing-actions {
    display: flex;
    justify-content: center;
    width: 100%;
}
.get-started {
    margin-top: 4vh;
    width: 50%;
}
.get-started a {
    width: 100%;
}

@media only screen and (min-width: 786px){
    .full-cont {
        width: 85%;
    }
    .landing-cont {
        height: 80vh;
    }
    .landing-header-cont h2 {
        text-align: center;
    }
    .landing-card-cont {
        display: flex;
        justify-content: space-between;
    }
}

