.login-cont {
    height: 75vh;
    width: 85%;
}

.login-actions-cont {
    margin-top: 4vh;
}

.login-input-cont div {
    width: 100%;
}

.login-button {
    width: 100%;
}
.login-header {
    width: 100%;
}
.login-header-h3 > h3 {
    margin-bottom: 0;
}
.login-header-h3 {
    z-index: 10;
    width: 60%;
}
.input-cont:last-child {
    margin-bottom: 7vh;
}
.submit-login-cont {
    margin-bottom: 3vh;
}
.login-heart {
    margin-top: 3vh;
}

@media only screen and (min-width: 786px) {
    .login-cont {
        width: 50%;
    }

    .login-input-cont div {
        width: 100%;
    }
}