.login-cont {
    height: 75vh;
    width: 70%;
}
.input-cont div {
    width: 100%;
}
.login-button {
    width: 100%;
}
.login-header {
    margin-bottom: 8vh;
}
.input-cont:last-child {
    margin-bottom: 7vh;
}
.submit-login-cont {
    margin-bottom: 3vh;
}