.big-edit-cont {
    width: 80%;
}
.top {
    display: flex;
    justify-content: space-between;
}
.big-edit-cont {
    height: 80vh;
    padding-bottom: 50px;
}
.actions-cont {
    display: flex;
    justify-content: flex-end;
}