.big-edit-cont {
    width: 80%;
}
.top {
    display: flex;
    justify-content: space-between;
}
.big-edit-cont {
    height: 70vh;
    padding-bottom: 50px;
}
.actions-cont {
    display: flex;
    justify-content: flex-end;
}
.overview {
    width: 70%;
    float: left;
}
.actions-cont {
    margin-top: 25px;
    float: right;
}
.prof-input div {
    width: 95%;
}
.prof-actions-cont {
    padding-top: 5vh;
}

@media only screen and (min-width: 786px) {
    .reg-input div {
        width: 100%;
    }
    .prof-input div {
        width: 100%!important;
    }
}