.big-edit-cont {
    width: 80%;
}
.top {
    display: flex;
    justify-content: space-between;
}
.big-edit-cont {
    height: 87vh;
    padding-bottom: 50px;
}
.actions-cont {
    display: flex;
    justify-content: flex-end;
}
.overview {
    width: 45%;
    float: left;
}
.actions-cont {
    margin-top: 25px;
    float: right;
}
.prof-input div {
    width: 95%;
}
.prof-actions-cont {
    padding-top: 5vh;
    display: flex;
    justify-content: flex-end;
}
.edit-prof-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 786px) {
    .reg-input div {
        width: 100%;
    }
    .prof-input div {
        width: 100%!important;
    }
    .prof-input-cont {
        width: 80%;
    }
    .top {
        width: 80%;
        display: flex;
        align-items: center;
    }
    .prof-actions-cont {
        float: right;
    }
}