.big-register-cont {
    height: 83vh;
    width: 85%;
}
.register-actions-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5vh;
}
.reg-input div {
    width: 100% !important;
}

@media only screen and (min-width: 780px){
    .reg-group {
        display: flex;
        justify-content: space-between;
    }
    .reg-input div {
        width: 90% !important;
    }
    .register-actions-cont {
        width: 75%;
    }
}