.big-register-cont {
    height: 83vh;
}
.register-actions-cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5vh;
}
.reg-input div {
    width: 100% !important;
}