.station-cont {
    margin: 3vh 0;
}
.all-stations-cont {
    height: 85vh;
    overflow: scroll;
}
.big-station-cont {
    height: 65vh;
    width: 85%;
}
.station-header {
    text-align: center;
}
.station-body {
    margin-top: 4vh;
}
.station-body h4 {
    margin: 3vh 0;
}