.transferMain{
    height: 85vh;
    overflow: scroll;
}

.open{
    background-color: lawngreen !important;

}

.transferStation{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    text-align: center;

}

.transferRole{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    text-align: center;

}

.transferTemp{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    text-align: center;

}
.transferPost{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    text-align: center;
}

.transferPerson{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    text-align: center;
}

.fillDate{
    text-align: center;
}