.transfer-select-cont {
    width: 100%;
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-vacancy-header > h2 {
    text-align: center;
}
.chief-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3vh;
}
.deny {
    margin-right: 30px;
}
.approve-button {
    background-color: #4caa44 !important;
    color: white !important;
}
#station-select {
    width: 90%;
}
.stationSelect-cont {
    width: 56%;
    display: flex;
    align-items: center;
}
.stationSelect-cont > div{
    width: 84% !important;
}
.user-requests-cont {
    height: 85vh;
    width: 85%;
}
.user-req-header-cont h2 {
    text-align: center;
}
.vacancy-transfers-big-cont {
    height: 75vh;
    width: 80%;
}
.vac-tran-header-cont {
    text-align: center;
}
.vacancy-search > div{
    width: 50%;
}
.vacancy-search {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 786px){
    .transfer-group {
        display: flex;
        justify-content: space-between;
    }
    .user-transfer-group {
        display: flex;
        justify-content: space-between;
    }
    .actions-container {
        margin-top: 6vh;
        width: 90%;
    }
    .transfer-actions-container {
        margin-top: 5vh;
        display: flex;
        justify-content: flex-end;
    }
    .transfer-actions-container > div {
        margin-right: 20px;
    }
    .user-transfer-divider {
        width: 60% !important;
        margin: 2vh 20% !important;
    }
    .stationSelect-cont > div{
        width: 50% !important;
    }
    .transfer-select-cont {
        width: 90%;
    }
}
