

.vacancy-cont {
    margin: 4vh 0;
}
.vac-date-cont {
    margin-top: 10vh;
}
.availability-cont {
    margin-top: 2vh !important;
}

.vacancy-header-cont {
    display: flex;
    justify-content: space-between;
}
.admin-create-vacancy {
    height: 75vh;
}
.picker {
    margin-top: 10px;
}
.vacancy-cat {
    margin-bottom:15px;
}
.role-cont {
    display: flex;
    justify-content: space-between !important;
    flex-direction: row !important;
}
.role-cont label {
    width: 40% !important;
    float: left;
}
.vac-role-cont {
    margin-top: 20px;
}
.station-num {
    justify-content: center !important;
}

.card-size {
    width: 80vh !important;
}
.vacancy-divider {
    margin-top: 3vh;
}
.search-cont {
    display: flex;
    justify-content: space-between;
}
.vacancy-filter {
    width: 45%;
}
.vacancy-district-cont {
    margin: 4vh !important;
}
.no-vac {
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 786px) {
    .view-vacancy-cont {
        width: 60% !important;
    }
    .admin-create-vacancy {
        width: 80%;
        height: 70vh;
    }
    .actions-cont {
        float: none !important;
        width: 100%;
    }
    .input-cont {
        margin-top: 4vh;
    }
    .vacancy-body {
        width: 100%;
    }
    .many-vacancies-cont {
        display: flex;
        justify-content: center;
    }
    .view-vacancy-header h2{
        margin-bottom: 3vh;
    }
}



