

.vacancy-cont {
    margin: 4vh 0;
}
.vac-date-cont {
    margin-top: 10vh;
}
.availability-cont {
    margin-top: 2vh !important;
}

.vacancy-header-cont {
    display: flex;
    justify-content: space-between;
}
.admin-create-vacancy {
    height: 85vh;
    overflow: scroll;
}
.picker {
    margin-top: 10px;
}
.vacancy-cat {
    margin-bottom:15px;
}
.role-cont {
    display: flex;
    justify-content: space-between !important;
    flex-direction: row !important;
}
.role-cont label {
    width: 40% !important;
    float: left;
}
.vac-role-cont {
    margin-top: 20px;
}
.station-num {
    justify-content: center !important;
}

.card-size {
    width: 80vh !important;
}

/*.vacancy-header*/
/*{*/
    /*position: relative;*/
    /*top: 8vh !important;*/
/*}*/


.divider-class
{

    background-color: rgba(157, 17, 18, 0.6) !important;
}
.vacancy-scroll
{
    overflow: scroll;
    height: 85vh;
}

.text-field-width
{
    width: 100%;
}

#outline-disabled
{
    font-size: 800vh;
    color: blue !important;
}

.vacancy-btn-color
{
    background-color: dodgerblue !important;
    width: 100% !important;
    height: 8vh !important;
    justify-content: center !important;
}



